<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{block "title"}}}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/images/favicon.ico">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Lee Demo"/>
    <!-- <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <!-- <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png"> -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- link -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    {{{block "style"}}}
</head>
<body>

    <div class="main-container">
        <nav class="main-container_left">
            <ul>
                <li>菜单1</li>
                <li>菜单2</li>
                <li>菜单3</li>
                <li>菜单4</li>
                <li>菜单5</li>
                <li>菜单6</li>
                <li>菜单7</li>
                <li>菜单8</li>
                <li>菜单9</li>
                <li>菜单10</li>
                <li>菜单11</li>
                <li>菜单12</li>
                <li>菜单13</li>
                <li>菜单14</li>
                <li>菜单15</li>
                <li>菜单16</li>
                <li>菜单17</li>
                <li>菜单18</li>
                <li>菜单19</li>
                <li>菜单20</li>
                <li>菜单21</li>
                <li>菜单22</li>
                <li>菜单23</li>
                <li>菜单24</li>
                <li>菜单25</li>
                <li>菜单26</li>
                <li>菜单27</li>
                <li>菜单28</li>
                <li>菜单29</li>
                <li>菜单30</li>
                <li>菜单31</li>
                <li>菜单32</li>
                <li>菜单33</li>
                <li>菜单34</li>
                <li>菜单35</li>
                <li>菜单36</li>
                <li>菜单37</li>
                <li>菜单38</li>
                <li>菜单39</li>
                <li>菜单40</li>
                <li>菜单41</li>
                <li>菜单42</li>
                <li>菜单43</li>
                <li>菜单44</li>
                <li>菜单45</li>
                <li>菜单46</li>
                <li>菜单47</li>
                <li>菜单48</li>
                <li>菜单49</li>
                <li>菜单50</li>
            </ul>
        </nav>
        {{{block "mainContent"}}}
    </div>

    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    {{{block "javascript"}}}
</body>
</html>