/**
 * button
 */


.lc-btn {
  display: inline-block;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  vertical-align: middle;
  line-height:1;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border:none;
  border-radius:$btn-radius;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}


.lc-btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.lc-btn-default {
    color: $btn-default-color;
    background-color: $btn-default-bgColor;
}
.lc-btn-default:hover{
    color: $btn-default-color;
    background-color: $btn-default-hover-bgColor;
}
.lc-btn-default:active{
  background-color: $btn-default-active-bgColor;
}


.lc-btn-info {
  color: white;
  background-color: $info;
}
.lc-btn-info:hover{
  background-color: $infoHover;
}
.lc-btn-info:active{
  background-color: $infoActive;
}


.lc-btn-success {
  color: white;
  background-color: $success;
}
.lc-btn-success:hover{
  background-color: $successHover;
}
.lc-btn-success:active{
  background-color: $successActive;
}


.lc-btn-warning {
  color: white;
  background-color: $warning;
}
.lc-btn-warning:hover{
  background-color: $warningHover;
}
.lc-btn-warning:active{
  background-color: $warningActive;
}


.lc-btn-danger {
  color: white;
  background-color: $danger;
}
.lc-btn-danger:hover{
  background-color: $dangerHover;
}
.lc-btn-danger:active{
  background-color: $dangerActive;
}


.lc-btn-main1 {
  color: white;
  background-color: $mainColor1;
}
.lc-btn-main1:hover{
  background-color: $mainColor1Hover;
}
.lc-btn-main1:active{
  background-color: $mainColor1Acitve;
}