
{{#partial "title"}}首页{{/partial}}

{{#partial "style"}}

{{/partial}}

{{#partial "mainContent"}}
<div class="main-container_right">
	<h1 id="title">default</h1>
</div>
{{/partial}}

{{#partial "javascript"}}
<script src="/assets/js/es6.js"></script>
{{/partial}}

{{> layout_base}}